<h1>Welcome to CSE Motors!</h1>
<div id="car-container">
    <picture>
        <source media="(min-width: 700px)" srcset="/images/vehicles/delorean.jpg">
        <img src="/images/vehicles/delorean-tn.jpg" alt="Delorean img">
    </picture>
    <div id="info-container">
        <h2>DMC Delorean</h2>
        <p>3 Cup holders</p>
        <p>Superman doors</p>
        <p>Fuzzy dice!</p>
        <div id="info-button">
            <a href="#">Own Today</a>
        </div>
    </div>
</div>
<div id="car-features">
    <div>
        <h2>Delorean Upgrades</h2>
        <div class="car-upgrades">
            <div class="upgrade-element">
                <div class="upgrade-img">
                    <img src="/images/upgrades/flux-cap.png" alt="Image of Flux Cap">
                </div>
                <a href="#">Flux Capacitor</a>
            </div>
            <div class="upgrade-element">
                <div class="upgrade-img">
                    <img src="/images/upgrades/flame.jpg" alt="Image of flame">
                </div>
                <a href="#">Flame Decals</a>
            </div>
            <div class="upgrade-element">
                <div class="upgrade-img">
                    <img src="/images/upgrades/bumper_sticker.jpg" alt="Image of Bumper Sticker">
                </div>
                <a href="#">Bumper Stickers</a>
            </div>
            <div class="upgrade-element">
                <div class="upgrade-img">
                    <img src="/images/upgrades/hub-cap.jpg" alt="Image ofHub caps">
                </div>
                <a href="#">Hub Caps</a>
            </div>
        </div>
    </div>
    <div>
        <h2>DMC Delorean Reviews</h2>
        <div id="car-reviews">
            <ul>
                <li>"So fast it's almost like travelling in time." (4/5)</li>
                <li>"Coolest ride on the road." (4/5)</li>
                <li>"I'm feeling McFly!" (5/5)</li>
                <li>"The most futuristic ride of our day." (4.5/5)</li>
                <li>"80's livin and love it!" (5/5)</li>
            </ul>
        </div>
    </div>
</div>